
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'estoque/styles.css' %}">
    </head>

    <div class="form-container">
        <h2>Editar Produto</h2>
        <form method="post" class="produto-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
{% endblock %}