{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Detalhes da Ordem de Serviço #{{ ordem_servico.id }}</h2>
    
    <div class="row">
        <div class="col-md-6">
            <p><strong>Cliente:</strong> {{ ordem_servico.cliente }}</p>
            <p><strong>Descrição do Serviço:</strong> {{ ordem_servico.descricao_servico }}</p>
            <p><strong>Status:</strong> {{ ordem_servico.get_status_display }}</p>

        </div>
        
        <div class="col-md-6">
            <h4>Alterar Status</h4>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select name="status" id="status" class="form-select">
                        {% for status, status_display in ordem_servico.STATUS_CHOICES %}
                            <option value="{{ status }}" {% if ordem_servico.status == status %}selected{% endif %}>{{ status_display }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Salvar Alteração</button>
            </form>
        </div>
    </div>

    <h3 class="mt-5">Produtos Utilizados</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Valor Unitário</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for produto_usado in ordem_servico.produtoordemservico_set.all %}
                <tr>
                    <td>{{ produto_usado.produto.nome }}</td>
                    <td>{{ produto_usado.quantidade }}</td>
                    <td>R$ {{ produto_usado.produto.preco }}</td>
                    <td>R$ {{ produto_usado.valor }}</td>  <!-- Exibe o valor (subtotal) salvo no banco -->
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4 class="mt-4">Valor Total: R$ {{ ordem_servico.valor_total }}</h4> <!-- Exibe o valor total da ordem de serviço -->

</div>

<div>
    <a href="{% url 'ordens_servico:imprimir_ordem_servico' ordem_servico.id %}" target="_blank" class="btn btn-primary">
        Imprimir Relatório
    </a>

    <a href="{% url 'ordens_servico:excluir_os' ordem_servico.id %}" class="btn btn-danger">
        Excluir Ordem de Serviço
    </a>
</div>

{% endblock %}
